
.jumbotron{
  box-sizing: border-box;
  margin-top: 90px;
  background-color: #141d27;
  background-repeat: no-repeat;
  height: auto;
  background-attachment: fixed;
  background-position: bottom left;
  color: white;
  padding: 20px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.jumbotron h1{
  letter-spacing: 10px;
}
.jumbotron h3{
  letter-spacing: 6px;
  text-transform: uppercase;
}
.jumbotron .container{
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.descripcion{
  padding: 10px 0;
  letter-spacing: 3px;
  line-height: 3;
  font-size: 18px;
  width: auto;
}
article{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

article .lista{
  width: 50%;
  padding: 40px; 
  border: 1px solid dodgerblue;
  box-sizing: border-box;
  border-radius: 20px;
  line-height: 2;
  background-color: rgba(0, 0, 0,.8);
  font-size: 16px;
  letter-spacing: 3px;
  float: right;
}
.fa-html5, .fa-book-reader{
  color: #e34f26;
  font-size: 28px;
}
.fa-css3{
  color: #002561;
  font-size: 28px;
}
.fa-js-square{
  color: #f7df1e;
  font-size: 28px;
}
.fa-angular{
  color: #b52e31;
  font-size: 28px;
}
.fa-nodejs, .fa-chess{
  color: #6cc24a;
  font-size: 28px;
}
.fa-bootstrap{
  color: purple;
  font-size: 28px;
}
.fa-php, .fa-github, .fa-paw{
  color: #8892be;
  font-size: 28px;
}
.fa-wordpress-simple{
  color: #21759b;
  font-size: 28px;
}
.fa-git-square{
  color: orangered;
  font-size: 28px;
}
article .myself{
  width: 300px;
  border-radius: 20px;
  float: left;
}
article img{
  width: 50%;
  border-radius: 50%;
}
@media only screen and (max-width: 900px){
  article .lista{
      width: 100%;
      padding: 8px;
      list-style: none;
  }
@media only screen and (max-width: 400px){
    .jumbotron h1{
        letter-spacing: 2.5px;
    }
    .jumbotron h3{
        letter-spacing: 2px;
    }
    .jumbotron .descripcion{
        letter-spacing: 1.5px;
        line-height: 1.8;
        margin-bottom: 8px;
    }
    article .lista h3{
        color: dodgerblue;
        font-size: 18px;
        letter-spacing: 1.2px;
        text-justify: justify;
    }
}
}
