<div class="animated fadeIn fast jumbotron">
  <h1>Marco Antonio Islas Duran</h1>
  <h3>Desarrollo web</h3>
  <hr>
  <div class="container animated fadeIn">
  <span class='descripcion'>Soy un hombre de 45 años. Siempre quise dedicarme a esta maravillosa profesión de la programación pero por diversos motivos no lograba concretarlo. Ahora decidi hacer de esto mi mondus vivendi. </span>
  <article>
  <ul class='lista'>
    <h3>He estudiado del lado de Front End:</h3>
    <li> HTML5 <i class="ico fab fa-html5"></i>, 
      CSS3 <i class="ico fab fa-css3"></i>, JavaScript <i class="ico fab fa-js-square"></i>, Angular 8 <i class="ico fab fa-angular"></i>, TypeScript , Node JS <i
            class="ico2 fab fa-node-js"></i>, Jquery, BootStrap <i class="ico2 fab fa-bootstrap"></i>. </li>
    <h3>Del lado del Back End:</h3>
    <li> PHP <i class="ico fab fa-php"></i>, MySql, WordPress <i class="ico2 fab fa-wordpress-simple"></i>, Mongo DB.</li>
    <h3>Algunos complementarios:</h3>
    <li> Control de verdiones con Git <i class="ico2 fab fa-git-square"></i>y GitHub <i class="ico2 fab fa-github"></i>. </li>
    <h3>Algunos pastiempos que tengo son:</h3>
                    <li>Leer <i class=" ico2 fas fa-book-reader"></i></li>
                    <li>Juagar Ajedrez <i class=" ico2 fas fa-chess"></i></li>
                    <li>Sacar a caminar a mi perro <i class="ico2 fas fa-paw"></i></li>
  </ul>
  <div class="myself">
    <img src="../../../assets/img/miGaleria.jpg" alt="Marco Antonio Islas Duran">
  </div>
  </article>
  </div>
</div>
