.contenedor-contacto{
   margin-top: 110px;
}
.datosContacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
}
.datosContacto .fa, .datosContacto .fab{
    color: dodgerblue;

}
@media only screen and (max-width: 450px){
    .datosContacto{
        font-size: 14px;

    }
    
}

