.heroe{
    background-color: #35364e;
    background-image: url('./../../../assets/img/cdmxNoche.jpg');
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    background-position: center left;
}
.frase{
    width: 690px;
    padding: 20px;
    background-color: rgba(14,14,14,.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 35%;
}
.frase-centrar{
    width: 88%;
    text-align: left;
}
.cite{
    font-family: 'Merienda One', cursive;
    font-size: 2.4rem;
}
.frase-centrar h1{
    font-size: 24px;
    text-transform: uppercase;
}
.frase-centrar h5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.62%;
}
.fa-map-marker-alt{
    color: #26A1FD;
    font-weight: bolder;
    font-size: 1.1rem;

}
.botones{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.btn{
    width: 150px;
    height: 45px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-family: Roboto, serif;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding-top: 4px;
    border:1px solid white;
    transition: all 2ms ease-in-out;
}
.botones .btn-portafolio{
  border: 1px solid #832e38;
    background-color: #7A0513;
    color: #FFF;
    margin-left: 10px;
}
.marker{
    margin-right: 25px;
    font-size: 28px;
}
.marker span{
    font-size: 28px;
}
.botones .btn-contacto{
  background-color: dodgerblue;
}
.btn:hover{
  border: 2px solid transparent;
  filter: drop-shadow(0px 0px 1px gray);
}

@media only screen and (max-width: 1030px){
    .frase{
        max-width: 80%;

    }
}
