  <form action="">
    <div class="grid">
      <header>
        <h2>Contacto</h2>
      </header>
      <div class="item1">
        <label for="name">Nombre:</label>
        <input class='item' id="name" type="text" name="name" placeholder="Escribe aqui tu nombre">
      </div>
      <div class="item2">
        <label for="email">Email:</label>
        <input class='item' id="email" type="email" name="email" placeholder="Escribe aqui tu Email">
      </div>
      <div class="item3">
        <label for="comentarios">Comentarios</label>
        <textarea id="comentarios" name="comentarios" cols="50" rows="10"></textarea>
      </div>
      <div class="item4">
        <input class="btn" type="submit" value="Enviar">
      </div>
    </div>
  </form>
