

<div class="animated fadeIn heroe">
            <div class="frase">
                <div class="frase-centrar">
                    <p class="cite ">"LA PRESENCIA EN INTERNET NO ES UN LUJO, ES UNA NECESIDAD.</p>
                    <h1>Soy Marco Antonio Islas Durán... Y SOY DESARROLLADOR WEB FREELANCE.</h1>
                    <div class="botones">
                        <div class="marker"><span class="fas fa-map-marker-alt"> CDMX</span> </div>
                        <button (click)='verContacto()' class="btn btn-contacto">Contacto</button>
                        <button (click)='verPortafolio()' class="btn btn-portafolio">Portafolio</button>
                    </div>
                </div>
            </div>
        </div>

