.nav-bar{
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F8F8F8;
  filter: drop-shadow(1px 1px 2px black);
  z-index: 100;
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
}
.logoBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.logo{
  width: 250px;
  cursor: pointer;
}
.nav-item a{
  font-family:  'Roboto', sans-serif;        
  color: #2c2c2c;
  display: inline-block;
  padding: 8px 8px;
  text-decoration: none;
}
.nav-item a:hover, .nav-item a:active, .nav-item a:focus{
  border-top: 1px solid dodgerblue;
  background-color: rgba(240, 240,240,.8);
}
.active{
  border-top: 1px solid dodgerblue;
  background-color: rgba(240, 240,240,.8);

}
.buscar{
  font-size: 18px;
  border:1px solid dodgerblue;
  border-radius: 8px;
  color: black;
  padding: 3px 2px;
  width: 80px;
}
.btnbuscar{
  border: none;
  color: white;
  font-size:18px;
  background-color: dodgerblue;
  padding: 3px 0;
  width: 100px;
  margin-left: 5px;
}
@media only screen and (max-width: 1050px){
    .logo{
        width: 150px;
    }
}
@media only screen and (max-width: 900px) {
  .nav-bar{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    justify-content: flex-start;
    padding: 10px 20px;
  }
  .menu{
    flex-direction: column;
    padding: 20px 0;
  }
.hamburguesa{
    display: inline-block;
    cursor: pointer;
}
  
}
