<div class="nav-bar">
            <img (click)='irHome' src="../../../../assets/img/logoRecorte4.png" class="logo" alt="Logo de Marco Islas">
            <a href="#home" id="homeLink" class="link">HOME</a>
            <a href="#servicios"   class="link" id="serviciosLink">SERVICIOS</a>
            <a href="#about" class="link" id="aboutLink">ABOUT</a>


            <a href="#galeria" class="link" id="galeriaLink">GALERIA</a>
            <a href="#blog" class="link" id="blogLink">BLOG</a>
            <a href="#contacto" class="link" id="contactoLink">CONTACTO</a>
            <!--span class="hamburguesa fas fa-bars"></span-->
        </div>
