body {
    background: #141d27;
    color: white;
}
.pagenofound{
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4{
  font-family: 'Bodoni Moda', 'serif;', cursive;
  letter-spacing: 6px;
  color: white;
}
p, span{
  font-family: 'Roboto', sans-serif;
}
.btn{
  width: 150px;
    height: auto;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    font-family: Roboto, serif;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding-top: 4px;
    border: 1px solid white;
    transition: all 2ms ease-in-out;
    text-decoration: none;
}
.btn-back{
    background-color: #7A0513;
    padding: 5px 10px;
    text-align: center;
}
.btn-back:hover{
    border: none;
    filter: drop-shadow(0 0 1px gray);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut{
  animation-name: fadeOut;
  display: none;
}
